
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Css/LoginRegister.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Giriş Yap</h2>
        @if (TempData["HATA"] != null)
        {
            <label style="color:red; font-size:14px;margin-bottom:10px;">@TempData["HATA"]</label>
        }
        <input type="text" class="form-control"  name="eMail" placeholder="E-Mail" required="" autofocus="" />
        <input type="password" class="form-control" name="sifre" placeholder="Şifre" required="" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>